
@import "./variable.scss";
html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'supermarket';
    src: url('@/assets/fonts/supermarket.ttf') format('truetype');
    /* ระบุพาธไปยังไฟล์ฟอนต์ที่เพิ่ม */
    font-weight: normal;
    font-style: normal;
}

#app {
    font-family: ChakraPetch-Regular, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $base-sub-color;
    //color: $base-font-color;
    font-size: 12px;
    
}
.app-container {
    padding: 20px 20px 10px 20px;
}

button {
    font-family: inherit;
    font-size: inherit;
    //height: 32px !important;
    /* ใช้ฟอนต์จาก #app */
    /* สไตล์อื่น ๆ ที่คุณต้องการใช้งานในปุ่ม */
}
button.btn-main {
    background-color: $base-font-color;
    color: white;
}
// button.btn-view {
//     background-color: $base-green;
//     color: white;
// }
button.btn-main:hover {
    color: white;
}
input[type="text"],
input[type="number"]{
    font-size: 12px !important;
}
textarea{
    font-size: 12px !important;
}

