@import "./variable.scss";

// ----- table ---- //
.p-datatable{
    font-size: $base-font-size !important;
    .p-column-header-content{

    }
}
.p-datatable thead th {
    background-color: $base-font-color !important;
    color: #ffffff;
    //font-weight: bold !important;
    .p-column-header-content {
        font-weight: 100 !important;
    }
}
.p-datatable .p-column-header-content {
    color: #ffffff !important;
}
.p-datatable-tbody > tr > td {
    padding: 3px 10px 3px 10px !important;
}
.p-paginator{
    font-size: $base-font-size !important;
    padding: 5px;
    .p-dropdown{
        height: 25px !important;
        width: 100px !important;
    }
    .p-dropdown-label{
        font-size: $base-font-size !important;
    }
    .p-inputtext{
        padding: 1px 0px 0px 10px !important;
    }
}

// ---- drop down ----
.p-dropdown-item {
    font-size: $base-font-size !important;
    padding: 5px !important;
    height: 35px !important; 
    width: 100% !important; 
}
.p-dropdown {
    height: 35px !important;
    padding-left: 5px;
    width: 100% !important;
    margin-top: 5px !important;
    .p-dropdown-clear-icon{
        right: 2.5rem !important;
        top: 1.2rem;
    }
    svg {
            width: 10px !important;
            height: 10px !important;
        }
}
.p-dropdown-label {
    padding: 5px !important;
    font-size: $base-font-size !important;
}


// ----- Calendar ----- //
.p-calendar{
    height: 35px;
    margin-top: 5px !important;
    //margin: 0px !important;
    //padding: 0px !important;
    .p-calendar-w-btn, 
    .p-datepicker-trigger {
        background-color: $base-font-color !important;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-color: $base-font-color !important;
        //height: 35px !important;
        //padding-top: 500px !important;
        //font-size: 10px !important;
       
    }
    input{
        font-size: $base-font-size !important;
        padding: 10px !important;
        margin: 0px !important;
    }
    svg{
        width: 15px;
        height: 15px;
    }
}
.p-datepicker-calendar{
    font-size: $base-font-size !important;
}
