$base-color: #e0e0e0;
$base-sub-color: #393939;
$base-font-color: #921313;
$base-font-sub-color: #921313;
$base-green: #038387;
$base-warning: #fabc3f;
$base-red: #ff4d4d;

//DAD4B5
//b5dad4

//font-size
$base-font-size: 14px;

// $size-s: 0.5em;
// $size-sm: 0.75em;
// $size-m: 1em;
// $size-ml: 1.25em;
// $size-l: 1.5em;
// $size-lx: 1.75em;
// $size-x: 2em;

:root {
  --base-color: #e0e0e0;
  --base-sub-color: #393939;
  --base-font-color: #921313;
  --base-font-sub-color: #360505;
  --base-green: #038387;
  --base-warning: #fabc3f;
  --base-red: #ff4d4d;
  --base-font-size: 14px;
}
