@import "../variable.scss";

:deep(.input-group-append) {
    height: 40px;
    padding-top: 5px;
}

.custom-table{
    button {
            i {
                font-size: 12px;
            }
        }
}

.filter-container {
    border: 1px solid #dddddd;
    border-radius: 5px;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #f7f7f7;
    //background-color: var(--base-color);
    padding: 10px;
}
.filter-container-searchBar {
    border: 1px solid #dddddd;
    border-radius: 5px;
  
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #f7f7f7;
    //background-color: var(--base-color);
    padding: 10px;
    //margin-top: 10px;
    //overflow: auto;
  }
.btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 10px;
}

.text-title {
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 700;
    color: var(--base-font-color);
}
.text-required {
    color: red;
}
.text-main-color {
    color: var(--base-font-color);
}

.flex-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
