@import '../variable.scss';
:deep(.p-datatable .p-sortable-column .p-sortable-column-icon) {
  color: #ffffff !important;
  margin-left: 0.5rem;
}



.center-container {
  display: grid;
  place-items: center;
  width: 100%;
}
.btn-action-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-status-show {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  color: var(--base-font-color);
  font-weight: bold;
  font-size: 12px;
  background-color: #ffc21b;
  width: 120px;
  height: 100%;
}
.box-status-success {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  background-color: #038387;
  width: 120px;
  height: 100%;
}
.box-status-next {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  color: var(--base-color);
  font-weight: bold;
  font-size: 12px;
  background-color: var(--base-font-color);
  width: 120px;
  height: 100%;
  cursor: pointer;
}
.box-status-process {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  color: var(--base-font-color);
  font-weight: bold;
  font-size: 12px;
  background-color: #dad4b5;
  width: 120px;
  height: 100%;
}
.box-status-disable {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  background-color: #ff4d4d;
  width: 120px;
  height: 100%;
}
