@import '../variable.scss';

:deep(.input-group-append) {
  height: 40px;
  padding-top: 5px;
}

.filter-container {
  border: 1px solid #dddddd;
  border-radius: 5px;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #f7f7f7;
  //background-color: var(--base-color);
  padding: 10px;
  //margin-top: 10px;
  //overflow: auto;
}

.btn-submit-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 8px;
  margin-top: 5px;
  border-top: 1px solid var(--base-font-color);
  // button {
  //   width: 100px;
  // }
}
.btn-submit-container-no-line {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 8px;
  margin-top: 5px;
}
.form-col-container {
  display: grid;
  gap: 10px;
  padding: 0px 0px 0px 0px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.form-col-sm-container {
  display: grid;
  gap: 10px;
  padding: 10px 0;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.flex-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
